@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&display=swap");

body {
  font-family: "Inconsolata", sans-serif;
  background-image: url("https://wallpapercave.com/wp/IXvB1uS.jpg");
  background-size: cover;
  color: #1d201f;
  margin: 0;
  text-align: center;
}

header {
  height: 30vh;
  padding: 10px;
}

.links {
  height: 20px;
}

.wiki-link {
  float: left;
}

.icons {
  float: right;
}

h1 {
  margin: 0;
  padding: 0.3em;
  font-weight: 600;
  font-size: 48px;
  color: #1d345f;
}

h2 {
  margin: 0;
  font-size: 28px;
}

#main {
  width: 40vw;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(29, 52, 95, 80%);
}

.rules {
  margin-bottom: 15px;
}

#lines {
  margin: 0.5em 0 0.5em 0;
}

#userLine {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

#line {
  height: 25px;
  width: 250px;
  text-align: center;
  margin-bottom: 15px;
}

#submit {
  background: #d9aeff;
  color: #1d201f;
  border-radius: 10px;
  border: none;
  padding: 9px;
  font-weight: 700;
  font-family: "Inconsolata", sans-serif;
}

#show {
  background-color: #70ebb5;
  color: #1d201f;
  border-radius: 10px;
  border: none;
  padding: 9px;
  font-weight: 700;
  font-family: "Inconsolata", sans-serif;
  margin-bottom: 15px;
}

#submit:hover {
  cursor: pointer;
}

#show:hover {
  cursor: pointer;
}
